# будут игнорироваться все файлы и каталоги Thumbs.db и DS_Store
# вне зависимости от того, в каком каталоге они находятся
Thumbs.db
.DS_Store
# будут игнорироваться файлы с суффиксами _old, _backup;
*.*_old
*.*_backup
# будет игнорироваться каталог tmp
# вне зависимости от того, в каком каталоге он находится
# слэш в конце указывает, что это каталог
tmp/
# будет игнорироваться относительно файла .gitingore
# чаще всего относительно всего проекта
/tmp/
# будут игнорироваться все файлы и каталоги с расширением .txt
# вне зависимости от того, в каком каталоге они находятся
*.txt
__MACOSX/